<launch>

	<!-- Make sure all nodes are using the simulation time, so that TF works -->
	<param name="use_sim_time" type="bool" value="true" />

	<!-- Start up a simulator. -->
	<include file="$(find stage_osu)/launch/simple_rooms.launch" />

	<!-- Start a custom rviz, and a logger so we can see the log messages we want. -->
	<node pkg="rviz" name="rviz" type="rviz" args="-d $(find lab3)/config/nav.rviz" />
	<node pkg="rqt_console" name="rqt_console" type="rqt_console" />

	<!-- Start the SLAM node. -->
	<node pkg="gmapping" name="SLAM" type="slam_gmapping">
		<remap from="scan" to="base_scan" />
	</node>

	<node pkg="lab3" name="driver" type="student_driver.py" />

</launch>
